@media screen and (min-width: 2000px) and (max-height: 1270px)
  .bonus
    &__wrapper
      transform-origin: top center
      transform: scale(1.15)

@media screen and (min-width: 2000px) and (max-height: 1200px)
  .bonus
    &__wrapper
      transform: scale(1.1)

@media screen and (min-width: 2000px) and (max-height: 1140px)
  .bonus
    &__wrapper
      transform: scale(1)

@media screen and (min-width: 2000px) and (max-height: 1065px)
  .bonus
    &__wrapper
      transform: scale(0.95)

@media screen and (min-width: 2000px) and (max-height: 1020px)
  .bonus
    &__wrapper
      transform: scale(0.9)

@media screen and (min-width: 2400px)
  .bonus
    &__wrapper
      transform-origin: top center
      transform: scale(1.25)

@media screen and (max-width: 1930px) and (max-height: 1055px)
  .bonus
    &__wrapper
      transform-origin: top center
      transform: scale(0.95)

@media screen and (max-width: 1930px) and (max-height: 1015px)
  .bonus
    &__wrapper
      transform-origin: top center
      transform: scale(0.9)

@media screen and (max-width: 1930px) and (max-height: 985px)
  .bonus
    &__wrapper
      transform-origin: top center
      transform: scale(0.8)

@media screen and (max-width: 1800px)
  .bonus
    &__footer
      padding: 22px 20px 20px
      &-one
        &-item
          img
            min-width: auto
            max-width: 55px
          .left
            font-size: 62px
            line-height: 22px
          .right
            font-size: 19px
            line-height: 26px

@media screen and (max-width: 1600px)
  .bonus
    &__logo
      width: 345px

@media screen and (max-width: 1600px) and (max-height: 855px)
  .bonus
    &__wrapper
      transform: scale(0.7)

@media screen and (max-width: 1600px) and (max-height: 775px)
  .bonus
    &__wrapper
      transform: scale(0.65)

@media screen and (max-width: 1600px) and (max-height: 730px)
  .bonus
    &__wrapper
      transform: scale(0.62)

@media screen and (max-width: 1500px)
  .bonus
    &__footer
      &-one
        &-item:not(:last-child)
          margin: 0 20px 0 0

@media screen and (max-width: 1370px) and (max-height: 770px)
  .bonus
    &__logo
      width: 300px

@media screen and (max-width: 1370px) and (max-height: 720px)
  .bonus
    &__wrapper
      transform: scale(0.58)

@media screen and (max-width: 1370px) and (max-height: 680px)
  .bonus
    &__wrapper
      transform: scale(0.54)

@media screen and (max-width: 1370px) and (max-height: 660px)
  .bonus
    padding-top: 67px

@media screen and (max-width: 1370px) and (max-height: 620px)
  .bonus
    &__wrapper
      transform: scale(0.5)

@media screen and (max-width: 1350px)
  .bonus
    &__footer
      padding: 19px 16px 17px
      &-two
        &-item:not(:last-child)
          margin: 0 10px 0 0
      &-one
        &-item
          .left
            font-size: 52px
            line-height: 22px
            margin: 0 15px 0 0
          .right
            font-size: 17px
            line-height: 23px

@media screen and (max-width: 1230px)
  .bonus
    &__logo
      width: 260px
    &__footer
      &-one
        &-item
          &:not(:last-child)
            margin: 0 12px 0 0
          img
            max-width: 37px
          .left
            font-size: 32px
            line-height: 22px
            margin: 0 10px 0 0
          .right
            font-size: 10px
            line-height: 12px

@media screen and (max-width: 920px) and (orientation: landscape)
  .bonus
    &__txt
      margin: -63px 0 55px 0

/**********************************TABLET*****************************************/

@media screen and (max-width: 1040px) and (orientation: portrait)
  .bonus
    padding: 170px 25px 0
    &__title
      margin: 0 0 70px 0
    &__txt
      margin: -18px 0 55px 0
    &__footer
      padding: 19px 16px 17px

@media screen and (max-width: 1040px) and (orientation: portrait) and (min-height: 1280px)
  .bonus
    padding: 258px 25px 0

@media screen and (max-width: 770px) and (orientation: portrait)
  .bonus
    &__wrapper
      transform: scale(1)
    &__title
      margin: 0 0 61px 0
      .left
        font-size: 83px
        line-height: 108px
        margin: 0 50px 0 0
      .right
        font-size: 83px
        padding: 6px 27px 4px

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 1000px)
  .bonus
    &__wrapper
      transform: scale(0.9)

@media screen and (max-width: 770px) and (orientation: portrait) and (max-height: 925px)
  .bonus
    padding: 130px 25px 0

@media screen and (max-width: 755px) and (orientation: portrait)
  .bonus
    &__footer
      &-one
        &-item
          img
            max-width: 24px
          .left
            font-size: 27px
            line-height: 16px
          .right
            font-size: 8px
            line-height: 10px

/**********************************MOBILE*****************************************/

@media screen and (max-width: 650px) and (orientation: portrait)
  .bonus
    padding: 155px 15px 0
    overflow-y: scroll
    flex-direction: column
    height: auto
    &__footer
      left: 50%
      transform: translateX(-50%)
      position: relative
      padding: 25px 15px 15px
      width: 112%
      &-row
        flex-direction: column
      &-one
        margin: 0 0 25px 0
        align-items: center
        &-item
          flex-direction: column
          align-items: center
          justify-content: center
          img
            margin-top: -14px

          &:not(:last-child)
            margin: 0 15px 0 0
          .left
            font-size: 38px
            line-height: 30px
            margin: 0 0 10px 0
          .right
            font-size: 10px
            line-height: 12px
            br
              display: none
          img
            max-width: 27px

      &-two
        flex-direction: column-reverse
        &-item
          margin: 0
          &:last-child
            margin: 0 0 23px 0
          &:first-child
            margin: 0 !important
    &__logo
      width: 185px
    &__wrapper
      transform: scale(1)
    &__title
      margin: 0 0 45px 0
      .left
        font-size: 40px
        line-height: 52px
        margin: 0 20px 0 0
      .right
        font-size: 40px
        line-height: 41px
        padding: 6px 15px 4px
    &__image
      &::before
        top: -28px
    &__txt
      font-size: 27px
      line-height: 35px
      margin: 0 0 35px 0
    &__link
      padding: 24px 23px 22px
      width: 100%
      text-align: center
      font-size: 16px
      line-height: 21px
      margin: 0 0 45px 0

@media screen and (max-width: 385px) and (orientation: portrait) and (max-height: 565px)
  .bonus
    padding: 120px 15px 0

@media screen and (max-width: 330px) and (orientation: portrait)
  .bonus
    &__title
      transform: scale(0.95)

@media screen and (max-width: 500px) and (orientation: portrait) and (min-height: 895px)
  .bonus
    &__footer
      padding: 36px 15px 15px

@media screen and (max-width: 500px) and (orientation: portrait) and (min-height: 908px)
  .bonus
    &__footer
      padding: 46px 15px 15px

/**********************************LANDSCAPE*****************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .bonus
    padding-top: 0
    display: flex
    align-items: center
    justify-content: center
    &__logo
      width: 175px
    &__footer
      padding: 9px 9px 7px
    &__wrapper
      margin-top: -50px
      transform-origin: center
      transform: scale(0.4)
    &__txt
      margin: -29px 0 55px 0

@media screen and (max-width: 830px) and (orientation: landscape)
  .bonus
    &__footer
      &-one
        &-item
          .left
            font-size: 22px
            line-height: 22px
          .right
            font-size: 7px
            line-height: 9px
          img
            max-width: 22px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 415px)
  .bonus
    &__wrapper
      margin-top: -50px
      transform-origin: center
      transform: scale(0.35)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 370px)
  .bonus
    &__wrapper
      margin-top: -50px
      transform-origin: center
      transform: scale(0.3)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 319px)
  .bonus
    &__wrapper
      margin-top: -50px
      transform-origin: center
      transform: scale(0.25)

@media screen and (max-width: 580px) and (orientation: landscape)
  .bonus
    &__logo
      width: 145px




