$blue: #000055
$magenta: #ff267e
$green: #05C489
$green-hover: #09B47F
$gray: #EDEDED
$text: #292929
$yellow: #FAE700
$yellow-2: #FFE601
$white: #FFFFFF
$violet: #341656


$font-suisse-med: SuisseIntl-Medium, sans-serif // 500 //
$font-suisse-semb: SuisseIntl-SemiBold, sans-serif //600 //
$font-wulkan: WulkanDisplay, sans-serif


body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  overscroll-behavior: none
  background: $blue
  img,
  picture
    max-width: 100%
    height: auto

.container
  max-width: 700px
  margin: auto



.all-link
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 70


  //picture
  //  source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/scarf-mob.png")
  //  source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/scarf-mob.png")
  //  source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/scarf-tab.png")
  //  source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/scarf-desc.png")
  //  img(src="img/scarf-desc.png" alt="Favbet")

.bonus
  width: 100%
  height: 100%
  overflow: hidden
  position: relative
  display: flex
  justify-content: center
  padding-top: 95px
  @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
    background: #005 url('../img/bg-desc.jpg') no-repeat 50% 0/cover
  @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
    background: #005  url('../img/bg-desc.jpg') no-repeat 50% 0/cover
  @media screen and (max-width: 600px) and (orientation: portrait)
    background: #005 url("../img/bg-mob.jpg") no-repeat 50% 0/cover
  @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
    background: #005 url("../img/bg-landscape.jpg") no-repeat 50% 0/cover
  &__logo
    position: absolute
    z-index: 3
    width: 400px
    right: 0
    top: 0
  &__title
    display: flex
    flex-direction: column
    align-items: flex-start
    position: absolute
    left: 0
    top: 0
    .top
      padding: 35px 24px 33px
      font-family: $font-suisse-med
      font-size: 66px
      line-height: 30px
      letter-spacing: 0.02em
      text-transform: uppercase
      color: #000055
      background: $magenta
    .bottom
      margin-top: -1px
      padding: 13px 24px 26px
      font-family: $font-wulkan
      font-size: 66px
      line-height: 30px
      letter-spacing: 0.02em
      text-transform: uppercase
      color: #000055
      background: $magenta
      img
        margin: 0 10px 0 0

  &__time
    position: absolute
    left: 475px
    top: 30px
    &-top
      display: flex
      align-items: center
      justify-content: center
      font-family: $font-suisse-med
      font-size: 26px
      line-height: 34px
      letter-spacing: 0.06em
      text-transform: uppercase
      color: #EDEDED
      background: $magenta
      width: 104px
      height: 50px
      border-radius: 5px 5px 0 0
      border: 1.2px solid #FF267E
    &-bottom
      display: flex
      align-items: center
      justify-content: center
      font-family: $font-suisse-med
      font-size: 26px
      width: 104px
      height: 50px
      line-height: 34px
      letter-spacing: 0.06em
      color: #EDEDED
      text-transform: uppercase
      border-radius: 0 0 5px 5px
      background: #000055
      border: 1.2px solid #FF267E

  &__link
    position: absolute
    left: 50px
    top: 230px
    display: inline-block
    font-family:  $font-suisse-semb
    font-size: 22px
    line-height: 29px
    letter-spacing: 0.08em
    text-transform: uppercase
    padding: 24px 93px 22px
    color: #000055
    background: #05C489
    border-radius: 6px

  &__footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background: $blue
    padding: 32px 35px 30px
    z-index: 61
    &-row
      display: flex
      justify-content: space-between
      align-items: center
    &-google,
    &-app
      img
        max-height: 52px
    &-app
      margin: 0 12px 0 0
    &-one
      display: flex
      align-items: center
      justify-content: center
      margin: 0 25px 0 0
      &-item
        display: flex
        align-items: center
        justify-content: center
        &:not(:last-child)
          margin: 0 30px 0 0
        img
          min-width: 70px
        .left
          font-family: $font-suisse-med
          font-size: 92px
          line-height: 42px
          color: $gray
          letter-spacing: 0.04em
          text-transform: uppercase
          margin: 0 20px 0 0
          white-space: nowrap
        .right
          font-family: $font-suisse-med
          font-size: 24px
          line-height: 31px
          letter-spacing: 0.02em
          text-transform: uppercase
          color: $gray
          white-space: nowrap
    &-two
      display: flex
      align-items: center
      justify-content: center
      &-item
        display: flex
        align-items: center
        justify-content: center
        &:not(:last-child)
          margin: 0 37px 0 0





@keyframes backFilter
  0%
    transform:  scale(1)
  50%
    transform:  scale(1.2)
  100%
    transform:  scale(1)