.bonus
    a(href='https://www.favbet.com/uk/short-register/').all-link
    .bonus__logo
        img(src='img/logo.svg' alt='logo')
    .bonus__wrapper
        .bonus__title
            .left Бонус
            .right 4500 #[span ₴]
        .bonus__image
            picture
            source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/scarf-mob.png")
            source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/scarf-mob.png")
            source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/scarf-tab.png")
            source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/scarf-desc.png")
            img(src="img/scarf-desc.png" alt="Favbet")
        .bonus__txt Підтримай тих, #[br] хто #[span підтримує] нас
        a(href='https://www.favbet.com/uk/short-register/').bonus__link Став на своїх
    .bonus__footer
        .bonus__footer-row
            ul.bonus__footer-one
                li.bonus__footer-one-item
                    .left 500₴
                    .right ставка #[br] без ризику
                li.bonus__footer-one-item
                    img(src='img/plus.svg' alt='plus')
                li.bonus__footer-one-item
                    .left 4000₴
                    .right На перший #[br] депозит
            ul.bonus__footer-two
                li.bonus__footer-two-item
                    img(src='img/footer-copy.svg' alt='copyright')
                li.bonus__footer-two-item
                    a(href='https://apps.apple.com/ua/app/favorit-sport-sport-betting/id1076305677').bonus__footer-app
                        img(src='img/btn-app.png' alt='button')
                    a(href='https://favbet.com/minio/android-files/version3/Favbet.apk').bonus__footer-google
                        img(src='img/btn-google.png' alt='button')
















